saved_model/
data/
# Arquivos de bytecode Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/
ENV/

# Arquivos gerados pelo pip
pip-log.txt
pip-delete-this-directory.txt

# Arquivos de logs
*.log

# Arquivos de cache
.cache/

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de ambiente
.env

# Arquivos gerados em execução
*.pid
*.pyo
*.swp
*~
*.bak